<h1><%= t "reset_pass" %></h1>

<p><%= t "to_reset_your_password" %></p>

<%= link_to t("Reset_password"), edit_password_reset_url(I18n.locale, @user.reset_token,
                                                      email: @user.email) %>

<p><%= t "link_will_expire_in_two_hours" %></p>

<p><%= t "password_reset_remind" %></p>
